body, html {
   
    background-image: url("/Users/nicholasmartello/Dev/UCF/week2/basic-portfolio/assets/images/shiplap_img.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    }

header {
    background: lightblue;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    border: 2px solid gray;
    background-color: white;

}
footer {
    background: gray;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 2px solid orange;
}
#name {
    color: white;
    background: orange;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    text-align: center;
    margin-left: 100px;
}

#links {
    margin-right: 100px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.container {
    margin: 0 100px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}